bigroi_classwork/xml_samples/product.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.bigroi.by/product" 
	xmlns:tns="http://www.bigroi.by/product/product" 
	elementFormDefault="qualified">
<element name="product">
	<complexType>		
		<sequence>
			<element name="code" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="name" type="string"/>
			<element name="price" type="decimal"/>
			<element name="description" type="string" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>
</element>
</schema>