bigroi_samples/src/com/bigroi/samples/xml/jaxp/product.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/product"
	xmlns:tns="http://www.example.org/product"
	elementFormDefault="qualified">
	<import></import>
	<element name="product">
		<complexType>
			<sequence>
				<element name="code" type="string" minOccurs="1" maxOccurs="1"/>
				<element name="price" type="decimal" minOccurs="1" maxOccurs="1"/>
			</sequence>
		</complexType>
	</element>
</schema>